.vscode/
.Rproj.user
**/*.DS_Store
**/*.pyc # pychache

# raw eeg data
**/*.fdt
**/*.set
**/*.dat
**/*.tsv
**/*.raw
**/*.tar.gz
**/*.mat

# external datasets
data/ds005106-download/*

# large intermediary and processed files
**/*.fif
**/*.npy
**/*.eeg
**/*.mat
**/*.npz
**/*.joblib
**/*.pkl
**/*.pck
**/*.pickle
#**/*.json

# julia
**/*.rds # R object

# all raw EEG files and large files in general
**/*.eeg
**/*.vhdr
**/*.vmrk
**/*.tar
**/*.zip

# image files
#**/*.png

# all the small files
**/*.hdf5 # models
**/*.h5 # models
**/*.csv
**/*.txt # models, i.e., lgbm booster files
**/*.json
**/*.xlsx
**/*.ods

# R stuff
**/*.RData
**/*.RDataTmp*
**/*.Rhistory
**/*.Rprofile
#**/*.Rproj

# errors and logs from slurm
**/*.err
**/*.out

# additional toolboxes or external apps (not allowed to share)
adhered/*

# poster stuff
poster/archive
presentation/archive
presentation

# folders which contain a lot of data
models/*
targets/.RData
targets/.RData

